<div class="rounded-md bg-white ml-4 p-4">

  <div class="rounded-md border-2"
    *ngIf="(usuario.tipo == 1 || usuario.tipo == 2 || usuario.tipo == 3 || usuario.accesos != '0')">
    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2 select-none">Administración</div>
    <ul class=" py-2 list-disc list-inside">
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none"
        (click)="abrirPublicaciones()" *ngIf="(usuario.tipo == 1 || usuario.accesos.includes('1'))">Publicaciones</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "
        *ngIf="(usuario.tipo == 1 || usuario.accesos.includes('2'))">Cementerios</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "
        (click)="goPlans()" *ngIf="(usuario.tipo == 1 || usuario.tipo == 2 || usuario.tipo == 3 || usuario.accesos.includes('3'))">Planes de acción</li>
    </ul>
  </div>

  <div class="rounded-md border-2"
    [ngClass]="{'mt-4': (usuario.tipo == 1 || usuario.tipo == 2 || usuario.tipo == 3 || usuario.accesos != '0')}">
    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2 select-none">Acerca de la SBLM</div>
    <ul class=" py-2 list-disc list-inside">
      <li
        class="font-montserrat cursor-pointer py-1 px-4  transition duration-200 ease-in-out hover:text-blue-700 hover:bg-blue-100 select-none "
        (click)="toggleMision()">Misión</li>
      <li
        class="font-montserrat cursor-pointer py-1  px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "
        (click)="toggleVision()">Visión</li>
      <!--<li class="font-montserrat cursor-pointer" (click)="toggleValores()">Valores institucionales</li>-->
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none ">
        <a href="http://192.168.1.6/media/Generales/Organigrama%20SBLM.pdf" target="_blank">Organigrama</a> </li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "
        (click)="goPhoneBook()">Directorio Telefónico</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDirectorateMembers()">Miembros del directorio</li>
    </ul>
  </div>

  <div class="rounded-md border-2 mt-4">
    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2 select-none">Información Institucional
    </div>
    <ul class="py-2 list-disc list-inside">
      <!--<li class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "><a href="http://192.168.1.6/media/Generales/RP%20N%c2%b0%20057-2002-P-SBLM%20MOF%20SBLM%202002.pdf" target="_blank">M.O.F.</a></li>-->
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Acuerdos')">Acuerdos</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Códigos')">Códigos</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "
        (click)="goDocuments('Directivas')">Directivas</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Leyes')">Leyes</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Lineamientos')">Lineamientos</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Manuales')">Manuales</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Planes')">Planes</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100 select-none "
        (click)="goDocuments('Políticas')">Políticas</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Procedimientos')">Procedimientos</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Reglamentos')">Reglamentos</li>
      <li
        class="font-montserrat cursor-pointer py-1 px-4 transition duration-200 ease-in-out  hover:text-blue-700 hover:bg-blue-100  select-none"
        (click)="goDocuments('Resoluciones')">Resoluciones</li>
    </ul>
  </div>

  <div class="rounded-md border-2 mt-4">
    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Próximos eventos</div>
    <div class="flex items-center p-2 w-full" *ngFor="let item of publicationsEventos; let i = index">
      <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
        <span class="text-md">{{item.fechaEvento.substring(8,10)}}</span><br>
        <span class="text-xs" [ngSwitch]="item.fechaEvento.substring(5,7)">
          <ng-container *ngSwitchCase="'01'">ENE</ng-container>
          <ng-container *ngSwitchCase="'02'">FEB</ng-container>
          <ng-container *ngSwitchCase="'03'">MAR</ng-container>
          <ng-container *ngSwitchCase="'04'">ABR</ng-container>
          <ng-container *ngSwitchCase="'05'">MAY</ng-container>
          <ng-container *ngSwitchCase="'06'">JUN</ng-container>
          <ng-container *ngSwitchCase="'07'">JUL</ng-container>
          <ng-container *ngSwitchCase="'08'">AGO</ng-container>
          <ng-container *ngSwitchCase="'09'">SEP</ng-container>
          <ng-container *ngSwitchCase="'10'">OCT</ng-container>
          <ng-container *ngSwitchCase="'11'">NOV</ng-container>
          <ng-container *ngSwitchCase="'12'">DIC</ng-container>
          <ng-container *ngSwitchDefault>MES DESCONOCIDO</ng-container>
        </span>

      </div>
      <div class="ml-2 text-xs font-montserrat">{{item.titulo}}</div>
    </div>
  </div>

  <div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal"></div>
  <div *ngIf="misionFlag" class="modal fixed inset-0 flex items-center justify-center">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
      <div
        class="modal-container font-montserrat bg-white w-7/12 py-12 px-8 rounded-xl shadow-lg text-center pointer-events-auto items-center relative">
        <div class="absolute top-0 right-0 p-2">
          <button
            class="bg-red-500 text-white rounded-md px-2 py-1 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
            (click)="toggleMision()">X</button>
        </div>
        <div class="flex items-center">
          <img src="../../../../assets/mision.jpg" class="rounded-md" />
          <div>
            <h2 class="text-4xl font-montserrat mb-4 font-bold">MISIÓN</h2>
            <div class="text-xl text-justify font-montserrat mx-8 mt-16">Prestar servicios especializados de protección
              social a la población objetivo de Lima Metropolitana con el propósito de reducir los niveles de riesgo y/o
              vulnerabilidad.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="visionFlag" class="modal fixed inset-0 flex items-center justify-center">
  <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
    <div
      class="modal-container font-montserrat bg-white w-7/12 py-12 px-8 rounded-xl shadow-lg text-center pointer-events-auto items-center relative">
      <div class="absolute top-0 right-0 p-2">
        <button
          class="bg-red-500 text-white rounded-md px-2 py-1 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
          (click)="toggleVision()">X</button>
      </div>
      <div class="flex items-center">
        <img src="../../../../assets/vision.jpg" class="rounded-md" />
        <div>
          <h2 class="text-4xl font-montserrat mb-4 font-bold">Visión</h2>
          <div class="text-xl text-justify  font-montserrat mt-16 mx-8">Tener capacidad de captar y generar fondos para
            sostener programas de protección y desarrollo social en Lima Metropolitana.</div>
        </div>
      </div>
    </div>
  </div>
</div>