<div class="rounded-md bg-white ml-4 p-4">
    <div class="rounded-md border-2">
        <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Acerca de la SBLM</div>
        <ul class="px-4 py-2 list-disc list-inside">
            <li class="font-montserrat cursor-pointer">Misión</li>
            <li class="font-montserrat cursor-pointer">Visión</li>
            <li class="font-montserrat cursor-pointer">Valores institucionales</li>
            <li class="font-montserrat cursor-pointer">Organigrama</li>
        </ul>
    </div>

    <div class="rounded-md border-2 mt-4">
        <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Documentos de trabajo
        </div>
        <ul class="px-4 py-2 list-disc list-inside">
            <li class="font-montserrat cursor-pointer">R.O.F.</li>
            <li class="font-montserrat cursor-pointer">M.O.F.</li>
            <li class="font-montserrat cursor-pointer">Leyes</li>
            <li class="font-montserrat cursor-pointer">Resoluciones</li>
            <li class="font-montserrat cursor-pointer">Reglamentos</li>
        </ul>
    </div>

    <div class="rounded-md border-2 mt-4">
        <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Próximos eventos</div>
        <div class="flex items-center p-2 w-full">
            <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                <span class="text-md">15</span><br>
                <span class="text-xs">Nov</span>
            </div>
            <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                Gareca</div>
        </div>

        <div class="flex items-center p-2 w-full">
            <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                <span class="text-md">15</span><br>
                <span class="text-xs">Nov</span>
            </div>
            <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                Gareca</div>
        </div>

        <div class="flex items-center p-2 w-full">
            <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                <span class="text-md">15</span><br>
                <span class="text-xs">Nov</span>
            </div>
            <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                Gareca</div>
        </div>

        <div class="flex items-center p-2 w-full">
            <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                <span class="text-md">15</span><br>
                <span class="text-xs">Nov</span>
            </div>
            <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                Gareca</div>
        </div>
    </div>
</div>