<div class="">

    <h1 class="font-montserrat font-bold text-center text-3xl">{{id}}</h1>

    <div class="my-4">

        <!--ESTE ES EL DIV A ITERAR-->
        <div class="flex items-center cursor-pointer bg-white rounded-md mt-2">
            <img src="../../../assets/documents.png"
                class="h-auto w-20 rounded-l-md">
            <div class="mx-4">
                <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ips... </h1>
            </div>
        </div>

        <div class="flex items-center cursor-pointer bg-white rounded-md mt-2">
            <img src="../../../assets/documents.png"
                class="h-auto w-20 rounded-l-md">
            <div class="mx-4">
                <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ips... </h1>
            </div>
        </div>
    </div>
</div>