<div class="">

    <h1 class="font-montserrat font-bold text-center text-3xl">{{id}}</h1>

    <div class="my-4">

        <div class="flex items-center cursor-pointer bg-white rounded-md mt-2"
        *ngFor="let item of publications | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <a href="{{ item.urlDocumento }}" target="_blank" class="flex items-center">
                <img src="/assets/documents.png" class="h-auto w-20 rounded-l-md">
                <div class="mx-4">
                    <h1 class="text-xs text-gray-600 font-montserrat">{{ item.fechaPublicacion.substring(8,10) }}-{{
                        item.fechaPublicacion.substring(5,7) }}-{{item.fechaPublicacion.substring(0,4) }}</h1>
                    <h1 class="text-sm font-semibold font-montserrat mt-1">{{item.titulo}}</h1>
                    <h1 class="text-xs font-montserrat text-justify mt-1">{{item.contenido}}</h1>
                </div>
            </a>
        </div>
        <div  class="flex justify-center font-bold mt-4 font-montserrat ">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>