<div class="container mx-auto w-full h-full bg-white px-4 pt-4 pb-8">

    <h1 class="text-2xl text-center font-montserrat font-bold mx-20">{{plan.nombre}}</h1>
    <div class="w-full bg-gray-200 px-4 py-2 mt-4 rounded-md">
        <table class="text-base font-montserrat w-full">
            <tr>
                <td width="30%" class="font-bold">Entidad:</td>
                <td>{{plan.entidad}}</td>
            </tr>
            <tr>
                <td width="30%"  class="font-bold">Número del Informe de Alerta de Control:</td>
                <td>{{plan.informe}}</td>
            </tr>
            <tr>
                <td width="30%"  class="font-bold">Tipo de Auditoría:</td>
                <td>{{plan.tipoAuditoria}}</td>
            </tr>
            <tr>
                <td width="30%"  class="font-bold">Entidad Auditora:</td>
                <td>{{plan.entidadAuditora}}</td>
            </tr>
            <tr>
                <td width="30%"  class="font-bold">Titular de la Entidad Auditora:</td>
                <td>{{plan.titularEntidadAuditora}}</td>
            </tr>
        </table>
    </div>

    <div class="font-montserrat text-center text-2xl font-bold mt-4">RECOMENDACIONES</div>

    <div class="flex items-center py-2">
        <select class="w-40 ml-auto rounded-3xl border border-gray-300 p-2"
            name="areas" id="areas" [(ngModel)]="areaSeleccionada" (change)="filtrar()">
            <option value="">Filtro área</option>
            <option *ngFor="let area of filtroAreas" value="{{area}}">{{ area }}</option>
        </select>

        <select class="w-40 ml-2 rounded-3xl border border-gray-300 p-2"
            name="riesgos" id="riesgos" [(ngModel)]="riesgoSeleccionado" (change)="filtrar()">
            <option value="">Filtro riesgo</option>
            <option *ngFor="let riesgo of filtroRiesgo" value="{{riesgo}}">{{ riesgo }}</option>
        </select>

        <select class="w-48 ml-2 rounded-3xl border border-gray-300 p-2"
            name="fechas" id="fechas" [(ngModel)]="fechaSeleccionada" (change)="filtrar()" disabled>
            <option value="">Filtro Vencimiento</option>
            <option *ngFor="let fecha of filtroFecha" value="{{fecha}}">{{ fecha }}</option>
        </select>

        <input class="w-40 ml-2 rounded-3xl border border-gray-300 p-2" type="date" disabled/>

        <button
            class="ml-2 rounded-3xl bg-green-400 text-white font-bold py-2 px-8 flex items-center"
            (click)="openGrafico()">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                viewBox="0 0 448 512">
                <path
                    d="M160 80c0-26.5 21.5-48 48-48h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V80zM0 272c0-26.5 21.5-48 48-48H80c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V272zM368 96h32c26.5 0 48 21.5 48 48V432c0 26.5-21.5 48-48 48H368c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z" />
            </svg>
            <span class="ml-2">Gráficos</span>
        </button>

        <button
            class="ml-2 rounded-3xl bg-green-400 text-white font-bold py-2 px-4 flex items-center"
            (click)="openGraficoComparativo()">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                viewBox="0 0 512 512"><path 
                d="M320 488c0 9.5-5.6 18.1-14.2 21.9s-18.8 2.3-25.8-4.1l-80-72c-5.1-4.6-7.9-11-7.9-17.8s2.9-13.3 7.9-17.8l80-72c7-6.3 17.2-7.9 25.8-4.1s14.2 12.4 14.2 21.9v40h16c35.3 0 64-28.7 64-64V153.3C371.7 141 352 112.8 352 80c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3V320c0 70.7-57.3 128-128 128H320v40zM456 80a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zM192 24c0-9.5 5.6-18.1 14.2-21.9s18.8-2.3 25.8 4.1l80 72c5.1 4.6 7.9 11 7.9 17.8s-2.9 13.3-7.9 17.8l-80 72c-7 6.3-17.2 7.9-25.8 4.1s-14.2-12.4-14.2-21.9V128H176c-35.3 0-64 28.7-64 64V358.7c28.3 12.3 48 40.5 48 73.3c0 44.2-35.8 80-80 80s-80-35.8-80-80c0-32.8 19.7-61 48-73.3V192c0-70.7 57.3-128 128-128h16V24zM56 432a24 24 0 1 0 48 0 24 24 0 1 0 -48 0z"/>
            </svg>
            <span class="ml-2">Comparativo</span>
        </button>

        <button *ngIf="usuario.tipo == 1" (click)="navegarARecomendacion(0)" class="button ml-2 rounded-3xl bg-indigo-800 text-white font-bold py-2 px-4 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-green-300">
            Nueva Recomendación
        </button>
    </div>

    <table class="w-full table-auto font-montserrat border">
        <thead class="bg-indigo-800">
            <tr class="text-white">
                <th width="3%" class="text-center">#</th>
                <th class="text-left">Observación</th>
                <th width="5%" class="text-center">Riesgo</th>
                <th width="20%" class="text-center">Unidad Responsable</th>
                <th width="20%" class="text-center">Responsable</th>
                <th width="8%" class="text-center">Fecha final</th>
                <th width="8%" class="text-center">Últ. Act.</th>
                <th width="8%" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of recomendations | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                class="odd:bg-white even:bg-blue-50 text-sm">
                <td width="5%" class="text-center">{{ (p ? (p - 1) * 10 : 0) + i + 1 }}</td>
                <td class="text-left">{{item.observacion}}</td>
                <td class="text-center align-middle" [ngSwitch]="item.nivelRiesgo">
                    <ng-container *ngSwitchCase="1"><span
                            class="bg-green-400 px-4 py-2 text-white font-bold font-montserrat rounded">BAJO</span></ng-container>
                    <ng-container *ngSwitchCase="2"><span
                            class="bg-amber-300 px-2.5 py-2 text-white font-bold font-montserrat rounded">MEDIO</span></ng-container>
                    <ng-container *ngSwitchCase="3"><span
                            class="bg-red-600 px-4 py-2 text-white font-bold font-montserrat rounded">ALTO</span></ng-container>
                </td>
                <td class="text-center"[innerHTML]="item.unidadResponsable.split('/').join('<br><hr>')"></td>
                <td class="text-center" [innerHTML]="item.nombresResponsable.split('/').join('<br><hr>')"></td>
                <td class="text-center">{{item.fechaFinal.substring(8,10) }}-{{item.fechaFinal.substring(5,7)
                    }}-{{item.fechaFinal.substring(0,4) }}</td>
                <td class="text-center">{{item.fechaModificacion.substring(8,10) }}-{{item.fechaModificacion.substring(5,7)
                }}-{{item.fechaModificacion.substring(0,4) }}</td>
                <td class="text-center">
                    <button [disabled]="!(item.dniResponsable.includes(usuario.dni) || usuario.tipo == 1 || usuario.tipo == 2 || usuario.tipo == 3)" class="px-2 py-2 bg-blue-300 rounded" title="Editar información" (click)="navegarARecomendacion(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 512 512">
                            <path
                                d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg>
                    </button>
                    


                    <!--<button class="px-2 py-2 bg-red-300 ml-2" title="Eliminar Plan de acción"
                        (click)="deleteRecomendation(item.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                        </svg>
                    </button>-->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="flex justify-center font-bold mt-6 font-montserrat ">
        <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior"
            nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>

<div *ngIf="graficos" class="modal fixed inset-0 flex items-center justify-center z-10">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
        <div class="modal-container font-montserrat bg-white w-5/6 h-auto p-4 rounded-xl shadow-lg ">
            <!-- pointer-events-auto overflow-auto -->
            <div class="flex ">
                <button
                    class="ml-auto bg-red-500 text-white rounded-md py-1 px-3 font-bold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    (click)="closeGrafico()">X</button>
            </div>


            <div class="mx-8 mb-4">
                <div class="flex mb-8">
                    
                    <div class="w-full grid grid-cols-3 items-center">
                        <div>
                            <div class=" text-center border-b border-gray-200">
                                <ul class="flex flex-wrap -mb-px items-center">
                                  <li class="me-2">
                                    <a class="font-montserrat text-base inline-block p-4 border-b-2 rounded-t-lg cursor-pointer"
                                       [ngClass]="{'text-blue-600': tipoGrafico === 1, 'border-blue-500': tipoGrafico === 1}"
                                       (click)="cambiarTipoGrafico(1)">Pastel</a>
                                  </li>
                                  <li class="me-2">
                                    <a class="font-montserrat text-base inline-block p-4 border-b-2 rounded-t-lg cursor-pointer"
                                       [ngClass]="{'text-blue-600': tipoGrafico === 2, 'border-blue-500': tipoGrafico === 2}"
                                       (click)="cambiarTipoGrafico(2)">Barras</a>
                                  </li>
                                </ul>
                              </div>
                            <h1 class="text-xl font-montserrat font-bold mt-20">Listado de gráficos {{areaSeleccionada}}</h1>
                            <div class="mt-4">
                                <ul>
                                    <li class="cursor-pointer font-montserrat" [class.underline]="graficoSeleccionado == 1" [class.text-blue-600]="graficoSeleccionado == 1" (click)="cambiarGrafico(1)">Observaciones por niveles de riesgo</li>
                                    <li class="cursor-pointer font-montserrat" [class.underline]="graficoSeleccionado == 2"  [class.text-blue-600]="graficoSeleccionado == 2" (click)="cambiarGrafico(2)" *ngIf="areaSeleccionada.length == 0">Observaciones por asignación de responsables</li>
                                    <li class="cursor-pointer font-montserrat" [class.underline]="graficoSeleccionado == 3"  [class.text-blue-600]="graficoSeleccionado == 3" (click)="cambiarGrafico(3)">Observaciones por asignación de fechas</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <canvasjs-chart *ngIf="graficoSeleccionado == 1 && tipoGrafico == 1" [options]="chartOptionsPye1" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                            <canvasjs-chart *ngIf="graficoSeleccionado == 2 && tipoGrafico == 1 && areaSeleccionada.length == 0" [options]="chartOptionsPye2" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                            <canvasjs-chart *ngIf="graficoSeleccionado == 3 && tipoGrafico == 1" [options]="chartOptionsPye3" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                            <canvasjs-chart *ngIf="graficoSeleccionado == 1 && tipoGrafico == 2" [options]="chartOptionsBar1" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                            <canvasjs-chart *ngIf="graficoSeleccionado == 2 && tipoGrafico == 2 && areaSeleccionada.length == 0" [options]="chartOptionsBar2" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                            <canvasjs-chart *ngIf="graficoSeleccionado == 3 && tipoGrafico == 2" [options]="chartOptionsBar3" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                        </div>
                    </div>
                    <!--<div class="w-full grid grid-cols-2">
                        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
                        <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
                        <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
                        <canvasjs-chart [options]="chartOptions4" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
                    </div>-->  
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="comparativo" class="modal fixed inset-0 flex items-center justify-center z-10">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
        <div class="modal-container font-montserrat bg-white w-5/6 h-auto p-4 rounded-xl shadow-lg ">
            <div class="flex ">
                <button
                    class="ml-auto bg-red-500 text-white rounded-md py-1 px-3 font-bold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    (click)="closeGraficoComparativo()">X
                </button>
            </div>

            <div class="mx-8 mb-4">
                <div class="flex mb-8">
                    <div class="w-full items-center">
                        <div *ngIf="diferenciaMeses > 1" class="text-2xl font-bold font-montserrat">
                            <span>Seleccionar últimos&nbsp;</span>
                            <select [(ngModel)]="ultimos" name="ultimos" (change)="changeValueUltimos($event)">
                              <option *ngFor="let n of opcionesMeses" [value]="n">{{ n }}</option>
                            </select>
                            <span>&nbsp;meses</span>
                        </div>
                        <div class="col-span-2">
                            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'500px'}"></canvasjs-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>