<div class="bg-white">
    <div class="bg-white px-4 py-4 grid grid-cols-1 gap-4">
        <div class="bg-white rounded-md py-4 flex items-center">
            <h1 class="font-montserrat font-bold text-3xl">Inhumaciones</h1>
            <button type="button" class="ml-auto py-2 px-4 inline-flex items-center text-sm font-montserrat font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#hs-basic-modal">
                Nueva Inhumación
              </button>
        </div>

        <table class="text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                    <th class="text-sm font-montserrat py-2" width="3%">#</th>
                    <th class="text-sm font-montserrat py-2" width="10%">Fecha</th>
                    <th class="text-sm font-montserrat py-2" width="22%">Adquiriente</th>
                    <th class="text-sm font-montserrat py-2" width="22%">Difunto</th>
                    <th class="text-sm font-montserrat py-2" width="19%">Cementerio</th>
                    <th class="text-sm font-montserrat py-2" width="12%">Cuartel y N°</th>
                    <th class="text-sm font-montserrat py-2 text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">1</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">2</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">3</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">4</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">5</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">6</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">7</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">8</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">9</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
                <tr class="border-b dark:border-neutral-500">
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 font-medium">10</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">12/10/2023</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeferson Santos Cayo Ortega</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Jeffrey Andrew Vargas Marino</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">Cementerio El Ángel</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2">A 12-34</td>
                    <td class="whitespace-nowrap text-sm font-montserrat py-2 flex items-center">
                        <img class="cursor-pointer h-5 w-5 ml-auto" title="Ver / Editar"
                            src="../../../../assets/edit-button.svg" />
                        <img class="cursor-pointer h-6 w-6 ml-2 mr-auto" title="Eliminar"
                            src="../../../../assets/delete-2.svg" />
                    </td>
                </tr>
            </tbody>
        </table>

        <nav class="mx-auto">
            <ul class="list-style-none flex">
                <li>
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all font-montserrat duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                        href="#">Anterior</a>
                </li>
                <li>
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all font-montserrat duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                        href="#">1</a>
                </li>
                <li aria-current="page">
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all font-montserrat duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                        href="#">2</a>
                </li>
                <li>
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all font-montserrat duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                        href="#">3</a>
                </li>
                <li>
                    <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all font-montserrat duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                        href="#">Siguiente</a>
                </li>
            </ul>
        </nav>

    </div>
</div>