<div class="w-full bg-gray-200">
    <div class="mx-20 py-4">
        <div class="grid grid-cols-12">
            <div class="col-span-9 bg-white py-12 rounded-md">
                <h1 class="text-2xl text-center font-bold font-montserrat">Registro de noticias</h1>

                <form class="w-full px-12 mt-12">
                    <div class="flex flex-wrap mx-3 mb-6">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label class="block tracking-wide font-montserrat text-base font-bold mb-2" for="grid-first-name">Título</label>
                            <input
                                class="appearance-none block w-full font-montserrat border border-gray-500 rounded py-3 px-4 mb-3 leading-tight"
                                id="grid-first-name" type="text" placeholder="Título de la noticia" />
                        </div>
                    </div>

                    <div class="flex flex-wrap mx-3 mb-6">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label class="block tracking-wide font-montserrat text-base font-bold mb-2" for="grid-first-name">Unidad Orgánica de origen</label>
                            <select class="appearance-none block w-full font-montserrat border border-gray-500 rounded py-3 px-4 mb-3 leading-tight" id="grid-state">
                                <option>New Mexico</option>
                                <option>Missouri</option>
                                <option>Texas</option>
                            </select>
                        </div>
                    </div>

                    <div class="flex flex-wrap mx-3 mb-6">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label class="block tracking-wide font-montserrat text-base font-bold mb-2" for="grid-first-name">Título</label>
                            <textarea
                                class="appearance-none block w-full font-montserrat border border-gray-500 rounded py-3 px-4 mb-3 leading-tight"
                                id="grid-first-name" type="text" rows="10" placeholder="Título de la noticia">
                            </textarea>
                        </div>
                    </div>

                    <div class="flex flex-wrap mx-3 mb-6">
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <label class="block tracking-wide font-montserrat text-base font-bold mb-2" for="grid-first-name">Imagen</label>
                            <input
                                class="appearance-none block w-full font-montserrat border border-gray-500 rounded py-3 px-4 mb-3 leading-tight"
                                id="grid-first-name" type="file" placeholder="Título de la noticia" />
                        </div>
                    </div>

                    <button class="bg-indigo-900 text-white font-bold font-montserrat px-8 py-2 mx-6 rounded-md">Registrar</button>
                </form>
            </div>

            <div class="col-span-3 rounded-md bg-white ml-4 p-4">
                <div class="rounded-md border-2">
                    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Acerca de la SBLM</div>
                    <ul class="px-4 py-2 list-disc list-inside">
                        <li class="font-montserrat cursor-pointer">Misión</li>
                        <li class="font-montserrat cursor-pointer">Visión</li>
                        <li class="font-montserrat cursor-pointer">Valores institucionales</li>
                        <li class="font-montserrat cursor-pointer">Organigrama</li>
                    </ul>
                </div>

                <div class="rounded-md border-2 mt-4">
                    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Documentos de trabajo
                    </div>
                    <ul class="px-4 py-2 list-disc list-inside">
                        <li class="font-montserrat cursor-pointer">R.O.F.</li>
                        <li class="font-montserrat cursor-pointer">M.O.F.</li>
                        <li class="font-montserrat cursor-pointer">Leyes</li>
                        <li class="font-montserrat cursor-pointer">Resoluciones</li>
                        <li class="font-montserrat cursor-pointer">Reglamentos</li>
                    </ul>
                </div>

                <div class="rounded-md border-2 mt-4">
                    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Próximos eventos</div>
                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                            Gareca</div>
                    </div>

                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                            Gareca</div>
                    </div>

                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                            Gareca</div>
                    </div>

                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra
                            Gareca</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>