<div class="">
    <img *ngIf="publication.id != 0" src="{{publication.urlDocumento}}" class="h-auto w-full rounded-t-md" />
    <div *ngIf="publication.id != 0" class="bg-white px-4 py-4">
        <h1 class="text-sm text-gray-600 font-montserrat">{{ publication.fechaPublicacion.substring(8,10) }}-{{
            publication.fechaPublicacion.substring(5,7) }}-{{publication.fechaPublicacion.substring(0,4) }}</h1>
        <h1 class="text-base font-semibold font-montserrat mt-1">{{publication.titulo}}</h1>
        <h1 class="text-sm font-montserrat text-justify mt-1">{{publication.contenido.substring(0,60)}}...</h1>
    </div>

    <h1 class="text-base text-center font-bold font-montserrat mt-4">Historial de noticias</h1>

    <div class="my-4 ">
        <div class="flex items-center cursor-pointer bg-white rounded-md mt-2"
            *ngFor="let item of publications | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
            <div class="flex items-center" (click)="goToNewsDetail(item.id)">
                <img src="{{item.urlDocumento}}" class="h-auto w-28 rounded-l-md">
                <div class="mx-4">
                    <h1 class="text-xs text-gray-600 font-montserrat">{{ item.fechaPublicacion.substring(8,10) }}-{{
                        item.fechaPublicacion.substring(5,7) }}-{{item.fechaPublicacion.substring(0,4) }}</h1>
                    <h1 class="text-sm font-semibold font-montserrat mt-1">{{item.titulo}}</h1>
                    <h1 class="text-xs font-montserrat text-justify mt-1">{{item.contenido.substring(0,50)}}...</h1>
                </div>
            </div>
        </div>
        <div  class="flex justify-center font-bold mt-4 font-montserrat ">
            <pagination-controls 
                class="my-pagination"
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- <div class="list">
		<ul>
			<li *ngFor="let item of publications | paginate: { itemsPerPage: 3, currentPage: p }">{{ item }}</li>
		</ul>

		<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> -->