<div class="w-full bg-gray-200">
    <div class="mx-20 py-4">
        <div class="grid grid-cols-12">
            <div class="col-span-9">
                <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg" class="h-auto w-full rounded-t-md">
                <div class="bg-white px-4 py-4">
                    <h1 class="text-sm text-gray-600 font-montserrat">26 Set. 2023</h1>
                    <h1 class="text-base font-semibold font-montserrat mt-1">Título de la noticia</h1>
                    <h1 class="text-sm font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h1>
                </div>

                <div class="my-4">
                    <div class="flex items-center cursor-pointer bg-white rounded-md" (click)="goToNewsDetail()">
                        <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg" class="h-auto w-32 rounded-l-md">
                        <div class="mx-4">
                            <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                            <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                            <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
                        </div>
                    </div>

                    <div class="flex items-center cursor-pointer bg-white rounded-md mt-4">
                        <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg" class="h-auto w-32 rounded-l-md">
                        <div class="mx-4">
                            <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                            <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                            <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
                        </div>
                    </div>

                    <div class="flex items-center cursor-pointer bg-white rounded-md mt-4">
                        <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg" class="h-auto w-32 rounded-l-md">
                        <div class="mx-4">
                            <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                            <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                            <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
                        </div>
                    </div>

                    <div class="flex items-center cursor-pointer bg-white rounded-md mt-4">
                        <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg" class="h-auto w-32 rounded-l-md">
                        <div class="mx-4">
                            <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                            <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                            <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-3 rounded-md bg-white ml-4 p-4">
                <div class="rounded-md border-2">
                    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Acerca de la SBLM</div>
                    <ul class="px-4 py-2 list-disc list-inside">
                        <li class="font-montserrat cursor-pointer">Misión</li>
                        <li class="font-montserrat cursor-pointer">Visión</li>
                        <li class="font-montserrat cursor-pointer">Valores institucionales</li>
                        <li class="font-montserrat cursor-pointer">Organigrama</li>
                    </ul>
                </div>

                <div class="rounded-md border-2 mt-4">
                    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Documentos de trabajo</div>
                    <ul class="px-4 py-2 list-disc list-inside">
                        <li class="font-montserrat cursor-pointer">R.O.F.</li>
                        <li class="font-montserrat cursor-pointer">M.O.F.</li>
                        <li class="font-montserrat cursor-pointer">Leyes</li>
                        <li class="font-montserrat cursor-pointer">Resoluciones</li>
                        <li class="font-montserrat cursor-pointer">Reglamentos</li>
                    </ul>
                </div>

                <div class="rounded-md border-2 mt-4">
                    <div class="bg-indigo-900 text-white font-bold font-montserrat px-4 py-2">Próximos eventos</div>
                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra Gareca</div>
                    </div>

                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra Gareca</div>
                    </div>

                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra Gareca</div>
                    </div>

                    <div class="flex items-center p-2 w-full">
                        <div class="w-3/10 text-center font-montserrat font-bold bg-red-200 py-1 px-3 rounded-md">
                            <span class="text-md">15</span><br>
                            <span class="text-xs">Nov</span>
                        </div>
                        <div class="ml-2 text-xs font-montserrat">Marcha por la constitución política de 1542 contra Gareca</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>