<div class="">
    <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg"
        class="h-auto w-full rounded-t-md">
    <div class="bg-white px-4 py-4">
        <h1 class="text-sm text-gray-600 font-montserrat">26 Set. 2023</h1>
        <h1 class="text-base font-semibold font-montserrat mt-1">Título de la noticia</h1>
        <h1 class="text-sm font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book. </h1>
    </div>

    <div class="my-4">
        <div class="flex items-center cursor-pointer bg-white rounded-md" (click)="goToNewsDetail()">
            <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg"
                class="h-auto w-32 rounded-l-md">
            <div class="mx-4">
                <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
            </div>
        </div>

        <div class="flex items-center cursor-pointer bg-white rounded-md mt-4">
            <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg"
                class="h-auto w-32 rounded-l-md">
            <div class="mx-4">
                <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
            </div>
        </div>

        <div class="flex items-center cursor-pointer bg-white rounded-md mt-4">
            <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg"
                class="h-auto w-32 rounded-l-md">
            <div class="mx-4">
                <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
            </div>
        </div>

        <div class="flex items-center cursor-pointer bg-white rounded-md mt-4">
            <img src="https://www.beneficenciadelima.org/public/uploads/2023-10-12-16-41-31.jpg"
                class="h-auto w-32 rounded-l-md">
            <div class="mx-4">
                <h1 class="text-xs text-gray-600 font-montserrat">26 Set. 2023</h1>
                <h1 class="text-sm font-semibold font-montserrat mt-1">Título de la noticia</h1>
                <h1 class="text-xs font-montserrat text-justify mt-1">Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a ... </h1>
            </div>
        </div>
    </div>
</div>