<div class="" *ngIf="publication.tipoPublicacion!='Galería'">
    <img src="{{publication.urlDocumento}}" />
    <div class="bg-white p-4">
        <h1 class="text-sm text-gray-600 font-montserrat">{{publication.fechaPublicacion.substring(8,10) }}-{{
            publication.fechaPublicacion.substring(5,7) }}-{{publication.fechaPublicacion.substring(0,4) }}</h1>
        <h1 class="text-base font-semibold font-montserrat mt-2">{{publication.titulo}}</h1>
        <h1 class="text-sm font-montserrat text-justify mt-4">{{publication.contenido}}</h1>
    </div>
</div>
<div *ngIf="publication.tipoPublicacion=='Galería'">
    <gallery [items]="items" [counter]="true" [arrows]="true" style="width: 100%;"></gallery>
    <div class="bg-white p-4">
        <h1 class="text-sm text-gray-600 font-montserrat">{{publication.fechaPublicacion.substring(8,10) }}-{{
            publication.fechaPublicacion.substring(5,7) }}-{{publication.fechaPublicacion.substring(0,4) }}</h1>
        <h1 class="text-base font-semibold font-montserrat mt-2">{{publication.titulo}}</h1>
        <h1 class="text-sm font-montserrat text-justify mt-4">{{publication.contenido}}</h1>
    </div>
</div>