<div class="" *ngIf="publication.tipoPublicacion!='Galería'">
    <img class="w-full" src="{{publication.urlDocumento}}" />
    <div class="bg-white p-4">
        <h1 class="text-sm text-gray-600 font-montserrat">{{publication.fechaPublicacion.substring(8,10) }}-{{
            publication.fechaPublicacion.substring(5,7) }}-{{publication.fechaPublicacion.substring(0,4) }}</h1>
        <h1 class="text-base font-semibold font-montserrat mt-2">{{publication.titulo}}</h1>
        <pre class="text-sm font-montserrat text-justify mt-4">{{publication.contenido}}</pre>
    </div>
</div>
<div *ngIf="publication.tipoPublicacion=='Galería'">
    <gallery class="z-0" [items]="items" [counter]="true" [objectFit]="'cover'" [arrows]="true" style="width: 100%;"></gallery>
    <div class="bg-white p-4 z-0">
        <h1 class="text-sm text-gray-600 font-montserrat">{{publication.fechaPublicacion.substring(8,10) }}-{{
            publication.fechaPublicacion.substring(5,7) }}-{{publication.fechaPublicacion.substring(0,4) }}</h1>
        <h1 class="text-base font-semibold font-montserrat mt-2">{{publication.titulo}}</h1>
        <pre class="text-sm font-montserrat text-justify mt-4">{{publication.contenido}}</pre>
    </div>
</div>