<div class="bg-gray-200 p-4 border border-indigo-900 rounded-md">
  <img src="../../../assets/usuario.png" alt="Descripción de la imagen 1" class="w-48 h-auto rounded-md my-4 mx-auto">
  <div class="text-md ">Empleado</div>
  <div class="text-xl mb-4">Jonathan Pietro Lazo Peinado</div>
  <div class="text-lg ">DNI: </div>
  <div class="text-lg ">Dependencia: </div>
  <div class="text-lg ">Area: </div>
  <div class="text-lg ">Sede: </div>
  <div class="text-lg ">Anexo: </div>
  <div class="text-lg ">Cargo: </div>
  <div class="text-lg ">Regimen laboral: </div>
</div>