
<div class="bg-white p-8 ">
  <div class="font-montserrat text-2xl font-bold mb-8 select-none">Perfil</div>
  <div class="bg-gray-200 p-4 border border-gray-400 rounded-md grid grid-cols-2 justify-start">
    <img src="../../../assets/jonathan.jpeg" alt="Descripción de la imagen 1" class="w-48 h-auto rounded-md my-4 mx-auto">
    
    <div class="text-md ">Empleado</div>
    <div class="text-4xl mb-4 font-semibold">Jonathan Pietro Lazo Peinado</div>
    <div class="text-lg select-none">DNI: </div>
    <div class="text-lg select-none">Dependencia: </div>
    <div class="text-lg select-none">Area: </div>
    <div class="text-lg select-none">Sede: </div>
    <div class="text-lg select-none ">Anexo: </div>
    <div class="text-lg select-none">Cargo: </div>
    <div class="text-lg select-none">Regimen laboral: </div>
  </div>
  <div class="font-montserrat text-xl font-bold mt-8">Legajo</div>
  <table class="w-full table-auto font-montserrat border mt-4">
    <thead class="text-center">
        <tr>
            <th>Titulo</th>
            <th>Tipo de documento</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let document of documents" class="even:bg-amber-100 odd:bg-blue-100">
            <td>{{ "Prueba"}}</td>
            <td>{{ "Prueba" }}</td>
            <td>{{ "Prueba" }}</td>
            <td>{{ "Prueba" }}</td>
        </tr>
    </tbody>
  </table>
</div>