
<div class="bg-white p-4">
    <h1 class="text-2xl text-center font-bold font-montserrat select-none">{{ months[selectedMonthNumber - 1].label }} - {{ selectedYearNumber }}</h1>

    <div class="w-full mx-auto">
        
        <div class="flex items-center mb-4">
            
            

             <select class="cursor-pointer transition duration-200 ease-in-out h-10 px-4 border border-gray-300 shadow-sm focus:outline-none hover:ring focus:border-blue-500"
                 *ngIf="(usuario.tipo == 1 || usuario.tipo == 6)" name="personale" id="personale" [(ngModel)]="selectedPersonal">
                <option value="">Seleccionar personal</option>
                <option *ngFor="let per of personal" [value]="per.dni">{{ per.nombres }}</option>
            </select> 

            <!-- <select class="cursor-pointer transition duration-200 ease-in-out h-10 px-4 border border-gray-300 shadow-sm focus:outline-none hover:ring focus:border-blue-500"
                name="months" id="months" [(ngModel)]="selectedMonth" [ngClass]="{'ml-2': (usuario.tipo == 1 || usuario.tipo == 2)}">
                <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
            </select> -->
            <select class="cursor-pointer transition-max-height duration-200 ease-in-out h-10 px-4 border border-gray-300 shadow-sm focus:outline-none hover:ring focus:border-blue-500"
            name="months" id="months" [(ngModel)]="selectedMonth" [ngClass]="{'ml-2': (usuario.tipo == 1 || usuario.tipo == 2)}">
            <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
            </select>

            <select class="cursor-pointer transition duration-200 ease-in-out h-10 px-4 border border-gray-300 shadow-sm focus:outline-none hover:ring focus:border-blue-500 ml-2"
                name="years" id="years" [(ngModel)]="selectedYear">
                <option *ngFor="let year of years" [value]="year.value">{{ year.label }}</option>
            </select>
            <button class="my-4 bg-indigo-800 text-white font-bold py-2 px-8 ml-2 transition transform active:scale-90 duration-250 ease-in-out hover:text-yellow-300  rounded-3xl " (click)="searchAssistants()">Consultar</button>
        
              
            <button class= "rounded-3xl my-4 ml-auto bg-indigo-800 text-white font-bold py-2 px-6 ml-2 transition transform active:scale-90 duration-250 ease-in-out hover:text-yellow-300 " (click)="goToProfile(dni)">Ver perfil</button>

        </div>

        <table class="w-full table-auto font-montserrat border mt-4">
            <thead class="text-center">
                <tr>
                    <th>Día</th>
                    <th>H. Ingreso</th>
                    <th>H. Salida</th>
                    <th>Min. Tarde</th>
                    <!-- <th>Permisos</th>
                    <th>Detalle</th>
                    <th>Deducción</th> -->
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let assistant of assistans" class="even:bg-amber-100 odd:bg-blue-100">
                    <td>{{ assistant.day }}</td>
                    <td>{{ formatTimestamp(assistant.dhoraingre_entrada.timestamp) }}</td>
                    <td>{{ formatTimestamp(assistant.dhoraingre_salida.timestamp) }}</td>
                    <td>{{ calculateIndividualLateMinutes(assistant) }}</td>
                    <!-- <td>{{ assistant.permits }}</td>
                    <td>{{ assistant.detail }}</td>
                    <td>{{ assistant.deduction }}</td> -->
                </tr>
            </tbody>
        </table>
        <table class="w-5/12 table-auto mt-12 ml-auto">
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                  <h1 class="text-right">Tardanzas (min.):</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotalLateMinutes() }}</td>
              </tr>
            <!-- <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Faltas:</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('absences') }}</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Permisos (min):</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('permits') }}</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Deducción (S/.):</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('deduction') }}</td>
            </tr> -->
        </table>
    </div>
</div>