<div class="bg-white p-4">
    <h1 class="text-2xl text-center font-bold font-montserrat">Setiembre - 2023</h1>
    <div class="w-full mx-auto">
        <table class="w-full table-auto font-montserrat border mt-4">
            <thead class="text-center">
                <tr>
                    <th>Día</th>
                    <th>H. Ingreso</th>
                    <th>H. Salida</th>
                    <th>Min. Tarde</th>
                    <th>Permisos</th>
                    <th>Detalle</th>
                    <th>Deducción</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
                <tr class="even:bg-amber-100 odd:bg-blue-100">
                    <td>Vie1</td>
                    <td>8:15AM</td>
                    <td>5:15AM</td>
                    <td>0</td>
                    <td>0</td>
                    <td>CSERV [8:15AM-5:15AM]</td>
                    <td>0.00</td>
                </tr>
            </tbody>
        </table>
        <table class="w-5/12 table-auto mt-12 ml-auto">
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Tardanzas (min.):</h1>
                </td>
                <td class="font-montserrat text-center">0</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Faltas:</h1>
                </td>
                <td class="font-montserrat text-center">0</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Permisos (min):</h1>
                </td>
                <td class="font-montserrat text-center">0</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Deducción (S/.):</h1>
                </td>
                <td class="font-montserrat text-center">S/.0</td>
            </tr>
        </table>
    </div>
</div>