<div class="bg-white p-4">
    <h1 class="text-2xl text-center font-bold font-montserrat">Setiembre - 2023</h1>
    <div class="w-full mx-auto">
        <table class="w-full table-auto font-montserrat border mt-4">
            <thead class="text-center">
                <tr>
                    <!-- <th>Día</th> -->
                    <th>H. Ingreso</th>
                    <th>H. Salida</th>
                    <!-- <th>Min. Tarde</th>
                    <th>Permisos</th>
                    <th>Detalle</th>
                    <th>Deducción</th> -->
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let assistant of assistans" class="even:bg-amber-100 odd:bg-blue-100">
                    <!-- <td>{{ assistant.day }}</td> -->
                    <td>{{ assistant.dhoraingre | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ assistant.dfechaingre | date:'dd/MM/yyyy HH:mm' }}</td>
                    <!-- <td>{{ assistant.lateMinutes }}</td>
                    <td>{{ assistant.permits }}</td>
                    <td>{{ assistant.detail }}</td>
                    <td>{{ assistant.deduction }}</td> -->
                </tr>
                
            </tbody>
        </table>
        <!-- <table class="w-5/12 table-auto mt-12 ml-auto">
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Tardanzas (min.):</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('lateMinutes') }}</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Faltas:</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('absences') }}</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Permisos (min):</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('permits') }}</td>
            </tr>
            <tr>
                <td class="font-montserrat font-bold w-8/12">
                    <h1 class="text-right">Deducción (S/.):</h1>
                </td>
                <td class="font-montserrat text-center">{{ calculateTotal('deduction') }}</td>
            </tr>
        </table> -->
    </div>
</div>
