<div *ngIf="isLoggedIn; else loggedOut">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="w-full bg-gray-200 py-4 ">
        <div class="mx-20 py-4">
            <div class="grid grid-cols-12">
                <div [class.col-span-12]="!show" [class.col-span-9]="show">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-span-3" *ngIf="show">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<ng-template #loggedOut>
   <app-login></app-login>
</ng-template>