<div class="mb-4 bg-white px-8 py-8">
    <div class="flex mb-8">
        <div class="text-2xl mx-auto font-montserrat font-bold text-center underline"><span
                *ngIf="id==0">Nueva</span><span *ngIf="id!=0">Editar</span> Recomendación</div>
    </div>
    <form>
        <div class="mb-6">
            <label for="observacion" class="text-lg font-montserrat block font-bold">Observación:</label>
            <textarea id="observacion" name="observacion" rows="3" class="mt-1 p-2 border rounded-md w-full"
                [(ngModel)]="recomendation.observacion" [disabled]="!(id == 0 || usuario.tipo ==  1)"></textarea>
        </div>

        <div class="mb-6">
            <label for="recomendacion" class="text-lg font-montserrat block font-bold">Recomendación:</label>
            <textarea type="text" id="recomendacion" rows="8" name="recomendacion"
                class="mt-1 p-2 border rounded-md w-full" [(ngModel)]="recomendation.recomendacion"
                [disabled]="!(id == 0 || usuario.tipo ==  1)"></textarea>
        </div>

        <div class="mb-6">
            <div class="flex items-center">
                <label for="unidadResponsable" class="text-lg font-montserrat block font-bold">Unidad Responsable:</label>
                <button class="ml-2 p-1 border border-2 border-indigo-800 rounded" *ngIf="usuario.tipo == 1"
                    title="Agregar Unidad Responsable" (click)="openNewUnidad()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 512 512">
                        <path
                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                    </svg>
                </button>
            </div>
            <input type="text" id="unidadResponsable" name="unidadResponsable" class="mt-1 p-2 h-10 border rounded-md w-full"
                [(ngModel)]="recomendation.unidadResponsable" disabled="true">
        </div>

        <div class="mb-6">
            <label for="documentoUnidadResponsable" class="text-lg font-montserrat block font-bold">Documento Unidad
                Responsable:</label>
            <input type="text" id="documentoUnidadResponsable" name="documentoUnidadResponsable"
                class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="recomendation.documentoUnidadResponsable"
                [disabled]="!(id == 0 || usuario.tipo ==  1)">
        </div>

        <div class="mb-6 flex items-center">
            <div class="w-1/2 pr-2">
                <div class="flex items-center">
                    <label for="nombresResponsable" class="text-lg font-montserrat block font-bold">Nombre del Responsable:</label>
                    <button class="ml-2 p-1 border border-2 border-indigo-800 rounded" *ngIf="usuario.tipo == 1"
                        title="Agregar Responsable" (click)="openNewUser()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 512 512">
                            <path
                                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
                        </svg>
                    </button>
                </div>
                <input type="text" id="nombresResponsable" name="nombresResponsable" disabled="true"
                    class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="recomendation.nombresResponsable">
            </div>
            <div class="w-1/2 pr-2">
                <label for="dniResponsable" class="text-lg font-montserrat block font-bold">DNI del Responsable:</label>
                <input type="text" id="dniResponsable" name="dniResponsable" disabled="true"
                    class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="recomendation.dniResponsable">
            </div>
        </div>

        <div class="mb-6 flex items-center">
            <div class="w-1/2 pr-2">
                <label for="nivelRiesgo" class="text-lg font-montserrat block font-bold">Nivel de Riesgo:</label>
                <select name="listaTipos" [disabled]="!(id == 0 || usuario.tipo ==  1)"
                    class="w-full h-10 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                    [(ngModel)]="recomendation.nivelRiesgo">
                    <option value="1">Bajo</option>
                    <option value="2">Medio</option>
                    <option value="3">Alto</option>
                </select>
            </div>

            <div class="w-1/2 pr-2">
                <label for="fechaEvento" class="text-lg font-montserrat block font-bold">Fecha Final:</label>
                <input type="date" id="fecha" name="fecha" [(ngModel)]="recomendation.fechaFinal" [disabled]="!(id == 0 || usuario.tipo ==  1)"
                    class="p-2 border border-gray-300 rounded-md w-full h-10">
            </div>
        </div>

        <div class="mb-6">
            <label for="acciones" class="text-lg font-montserrat block font-bold">Acciones:</label>
            <textarea type="text" id="acciones" rows="10" name="acciones" class="mt-1 p-2 border rounded-md w-full"
                [(ngModel)]="recomendation.acciones" [disabled]="!(id == 0 || usuario.tipo ==  1)"></textarea>
        </div>

        <div class="mb-6">
            <div class="flex items-center">
                <label for="medio" class="text-lg font-montserrat block font-bold">Medio:</label>
                <button class="ml-2 p-1 border border-2 border-indigo-800 rounded"
                    *ngIf="usuario.tipo == 1 || recomendation.dniResponsable.includes(usuario.dni)"
                    title="Agregar documento de sustento" (click)="openInfo()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                        <path
                            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
            </div>
            <textarea type="text" id="medio" rows="10" name="medio" class="mt-1 p-2 border rounded-md w-full"
                [(ngModel)]="recomendation.medio" [disabled]="!(id == 0 || usuario.tipo ==  1)"></textarea>
        </div>

        <div class="mb-6">
            <div class="flex items-center">
                <label for="medio" class="text-lg font-montserrat block font-bold">Documentos de sustento:</label>
                <button class="ml-2 p-1 border border-2 border-indigo-800 rounded" *ngIf="usuario.tipo == 1 || recomendation.dniResponsable.includes(usuario.dni)"
                    title="Agregar documento de sustento" (click)="openNewDocument()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                        <path
                            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
            </div>

            <table class="w-full">
                <tbody>
                    <tr *ngFor="let document of documents; let i = index"
                        class="odd:bg-white even:bg-blue-50 text-base font-montserrat">
                        <td class="text-left cursor-pointer text-blue-600" title="Fecha del documento: {{ document.fechaDocumento.substring(8,10) }}-{{document.fechaDocumento.substring(5,7)
                        }}-{{document.fechaDocumento.substring(0,4) }}"><a href="{{document.urlDocumento}}"
                                target="_blank">{{ document.nombreDocumento }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex mt-12">
            <button
                *ngIf="usuario.tipo == 1 || usuario.accesos.includes('3')"
                class="bg-indigo-900 text-white font-bold rounded-md ml-auto px-12 py-2 text-base hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
                (click)="guardar()">Guardar
            </button>
        </div>
    </form>
</div>

<div *ngIf="medioFlag" class="modal fixed w-60 inset-0 flex items-center justify-center z-10">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
        <div class="modal-container font-montserrat bg-white w-3/5 h-auto p-4 rounded-xl shadow-lg ">
            <div class="flex ">
                <button
                    class="ml-auto bg-red-500 text-white rounded-md py-1 px-3 font-bold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    (click)="closeInfo()">X</button>
            </div>

            <div class="mx-8 mb-4">
                <div class="flex mb-8">
                    <div class="text-2xl mx-auto font-montserrat font-bold text-center underline">Agregar información de Medio</div>
                </div>
                <form>
                    <div class="mb-4">
                        <label for="fechaEvento" class="text-lg font-montserrat block font-bold">Informacion adicional para medio:</label>
                        <textarea type="date" id="fechaEvento" name="fechaEvento" [(ngModel)]="medio"
                            class="p-2 border border-gray-300 rounded-md w-full" rows="8"></textarea>
                        <span  class="text-red-500 " *ngIf="submit && medio.length==0">*Complete este campo*</span>
                    </div>

                    <div class="flex mt-12">
                        <button
                            class="bg-indigo-900 text-white rounded-md ml-auto px-12 py-2 text-base font-bold hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
                            (click)="saveInfo()">
                            Guardar
                        </button>
                    </div>        
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="documentFlag" class="modal fixed w-60 inset-0 flex items-center justify-center z-10">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
        <div class="modal-container font-montserrat bg-white w-3/5 h-auto p-4 rounded-xl shadow-lg ">
            <div class="flex ">
                <button
                    class="ml-auto bg-red-500 text-white rounded-md py-1 px-3 font-bold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    (click)="closeNewDocument()">X</button>
            </div>

            <div class="mx-8 mb-4">
                <div class="flex mb-8">
                    <div class="text-2xl mx-auto font-montserrat font-bold text-center underline">Nuevo Documento de sustento</div>
                </div>
                <form>
                    <div class="mb-4 w-1/4">
                        <label for="fechaEvento" class="text-lg font-montserrat block font-bold">Fecha de Documento:</label>
                        <input type="date" id="fechaEvento" name="fechaEvento" [(ngModel)]="fechaDoc"
                            class="p-2 border border-gray-300 rounded-md w-full h-10">
                        <span  class="text-red-500 " *ngIf="submit && fechaDoc.length==0">*Complete este campo*</span>
                    </div>

                    <div class="flex mt-12">
                        <div>
                            <label for="documento" class="text-lg font-montserrat block font-bold">Documento
                                (PDF):</label>
                            <input type="file" id="fileInput" (change)="onFileSelected($event)"
                                accept="application/pdf">
                            <span class="text-red-500 " *ngIf="submit && files.length==0">*Seleccione un
                                archivo*</span>
                        </div>

                        <button
                            class="bg-indigo-900 text-white rounded-md ml-auto px-12 py-2 text-base font-bold hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
                            (click)="saveDocument()">
                            Guardar
                        </button>
                    </div>        
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="userFlag" class="modal fixed w-60 inset-0 flex items-center justify-center z-10">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
        <div class="modal-container font-montserrat bg-white w-3/5 h-auto p-4 rounded-xl shadow-lg ">
            <div class="flex ">
                <button
                    class="ml-auto bg-red-500 text-white rounded-md py-1 px-3 font-bold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    (click)="closeNewUser()">X</button>
            </div>

            <div class="mx-8 mb-4">
                <div class="flex mb-8">
                    <div class="text-2xl mx-auto font-montserrat font-bold text-center underline">Agregar/ Eliminar Responsable(s)</div>
                </div>

                <form>            
                    <div class="mb-6 flex items-center">
                        <div class="w-1/4 pr-2">
                            <label class="text-lg font-montserrat block font-bold">DNI del Responsable:</label>
                            <input type="text" id="dniResponsable" name="dniResponsable" class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="dniBuscado">
                        </div>
                        <div class="w-1/4 pr-2">
                            <label class="text-lg font-montserrat block font-bold">&nbsp;</label>
                            <button class="bg-indigo-900 text-white rounded-md ml-auto px-12 py-2 text-base font-bold hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
                            (click)="searchUser()">
                            Buscar
                        </button>
                        </div>
                    </div>
                </form>

                <table class="mt-6 w-full table-auto font-montserrat border">
                    <thead class="bg-indigo-800">
                        <tr class="text-white">
                            <th width="3%" class="text-center">#</th>
                            <th class="text-center">DNI</th>
                            <th class="text-left">Nombres y apellidos</th>
                            <th width="8%" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of usuariosSeleccionados; let i = index">
                            <td class="text-center">{{i + 1}}</td>
                            <td class="text-center">{{us.dni}}</td>
                            <td>{{us.nombres}} {{us.apellidos}}</td>
                            <td class="text-center">
                                <button class="px-2 py-2 bg-red-300 rounded ml-2" title="Eliminar publicación"> <svg xmlns="http://www.w3.org/2000/svg" height="16"
                                    width="14" viewBox="0 0 448 512" (click)="deleteUser(i)">
                                    <path
                                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                    </svg>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="unidadFlag" class="modal fixed w-60 inset-0 flex items-center justify-center z-10">
    <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
        <div class="modal-container font-montserrat bg-white w-3/5 h-auto p-4 rounded-xl shadow-lg ">
            <div class="flex ">
                <button
                    class="ml-auto bg-red-500 text-white rounded-md py-1 px-3 font-bold hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                    (click)="closeNewUnidad()">X</button>
            </div>

            <div class="mx-8 mb-4">
                <div class="flex mb-8">
                    <div class="text-2xl mx-auto font-montserrat font-bold text-center underline">Agregar/ Eliminar Unidad(es) Responsable(s)</div>
                </div>
                <table class="mt-6 w-full table-auto font-montserrat border">
                    <thead class="bg-indigo-800">
                        <tr class="text-white">
                            <th width="10%" class="text-center">#</th>
                            <th class="text-left">Unidad</th>
                            <th width="15%" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ud of unidades | paginate: { itemsPerPage: 15, currentPage: p }; let j = index">
                            <td class="text-center">{{(p ? (p - 1) * 15 : 0) + j + 1}}</td>
                            <td>{{ud.nomUnidad}}</td>
                            <td class="text-center">
                                <input id={{ud.abrUnidad}} type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" (change)="seleccionarUnidad(ud.nomUnidad, $event)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div  class="flex justify-center font-bold mt-4 font-montserrat ">
                    <pagination-controls 
                        class="my-pagination"
                        (pageChange)="p = $event"
                        previousLabel="Anterior"
                        nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>