<div class="container mx-auto w-full h-full">
  <div class="flex items-center">
    <div class="font-montserrat text-2xl font-bold">Publicaciones</div>
  <button class="ml-auto my-4 bg-indigo-900 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded float-right"
    (click)="toggleNuevo()">
    Nueva Publicación
  </button>
  </div>

  <table class="min-w-full divide-y divide-gray-200 mt-4">
    <thead>
      <tr>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-center font-montserrat text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
          #</th>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-center font-montserrat text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider ">
          Fecha</th>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-center font-montserrat text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Título</th>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-center font-montserrat text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Tipo de publicación</th>
          <th
          class="px-6 py-3 bg-gray-50 text-left text-center font-montserrat text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Documento</th>
          <th
          class="px-6 py-3 bg-gray-50 text-left text-center font-montserrat  text-sm leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Acciones</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let item of publications; let i = index">
        <td class="px-6 py-2 whitespace-no-wrap text-center font-montserrat text-sm ">{{ i + 1 }}</td>
        <td class="px-6 py-2 whitespace-no-wrap text-center font-montserrat text-sm">{{ item.fechaPublicacion.substring(8,10) }} - {{ item.fechaPublicacion.substring(5,7) }} - {{ item.fechaPublicacion.substring(0,4) }}</td>
        <td class="px-6 py-2 whitespace-no-wrap text-center font-montserrat text-sm">{{ item.titulo }}</td>
        <td class="px-6 py-2 whitespace-no-wrap text-center font-montserrat text-sm">{{ item.tipoPublicacion }}</td>
        <td class="px-6 py-2 whitespace-no-wrap text-center font-montserrat text-sm">{{ item.urlDocumento }}</td>
        <td class="px-6 py-2 whitespace-no-wrap text-center font-montserrat text-sm">
          <!--<button class="px-2 py-2 bg-blue-300 text-white  "><svg xmlns="http://www.w3.org/2000/svg" height="16"
              width="16"
              viewBox="0 0 512 512">
              <path
                d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
            </svg>
          </button>-->
          <button class="px-2 py-2 bg-red-300 ml-2"> <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
              viewBox="0 0 448 512" (click)="deletePublication(item.id)">
              <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="nuevoFlag" class="modal fixed inset-0 flex items-center justify-center z-10">
  <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
    <div class="modal-container font-montserrat bg-white w-3/5 h-5/6 p-4 rounded-xl shadow-lg pointer-events-auto overflow-auto">

      <div class="flex justify-end mb-2">
        <button class="text-xl font-bold" (click)="toggleNuevo()">X</button>
      </div>

      <div>
        <h2 class="text-2xl font-montserrat font-bold mb-4 text-center">Nueva Publicacion</h2>
        <form>
          <div class="mb-4">
            <label for="titulo" class="text-lg font-montserrat block">Título:</label>
            <input type="text" id="titulo" name="titulo" class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="publicacion.titulo">
          </div>

          <div class="mb-4">
            <label for="gerencia" class="text-lg font-montserrat block">Gerencia a publicar:</label>
            <input type="text" id="gerencia" name="gerencia" class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="publicacion.gerencia" [disabled]="true">
          </div>

          <div class="mb-4 flex items-center">
            <div class="w-1/2 pr-2">
              <label for="tipoPublicacion" class="text-lg font-montserrat block">Tipo de Publicación:</label>
              <select name="listaTipos"
                class="w-full h-10 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                [(ngModel)]="publicacion.tipoPublicacion">
                <option value="">Seleccionar Tipo de publicación</option>
                <option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</option>
              </select>
            </div>

            <div class="w-1/2 pl-2">
              <label for="fechaEvento" class="text-lg font-montserrat block">Fecha de Evento:</label>
              <input type="date" id="fechaEvento" name="fechaEvento" [(ngModel)]="publicacion.fechaEvento"
                class="p-2 border border-gray-300 rounded-md w-full h-10" [disabled]="publicacion.tipoPublicacion != 'Eventos'">
            </div>
          </div>

          <div class="mb-4">
            <label for="descripcion" class="text-lg font-montserrat block">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4"
              class="mt-1 pt-2 pl-2 border border-gray-300 rounded-md w-full overflow-y-auto" [(ngModel)]="publicacion.contenido">
            </textarea>
          </div>

          <div class="mb-8" *ngIf="publicacion.tipoPublicacion=='Comunicaciones' ||  publicacion.tipoPublicacion=='Eventos'">
            <label for="imagen" class="text-lg font-montserrat block">Imagen (JPG o PNG):</label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/jpeg, image/png">
          </div>

          <div class="mb-8" *ngIf="publicacion.tipoPublicacion!='Comunicaciones' &&  publicacion.tipoPublicacion!='Eventos'">
            <label for="documento" class="text-lg font-montserrat block">Documento (PDF):</label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="application/pdf">
          </div>
        
          <div class="mb-4 flex justify-center">
            <button
              class="bg-indigo-900 text-white rounded-md px-12 py-2 text-base font-medium hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
              (click)="savePublication()" [disabled]="publicacion.titulo.length == 0 || publicacion.tipoPublicacion.length == 0 || file == undefined">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>