<div class="container mx-auto w-full h-full bg-white px-4 pt-4 pb-8">
  <div class="flex items-center">
    <div class="font-montserrat text-2xl font-bold">Publicaciones</div>
    <button
      class="transition rounded-3xl duration-250 ease-in-out active:scale-90 hover:text-yellow-300 ml-auto my-4 bg-indigo-800 text-white font-bold py-2 px-4  float-right focus:text-blue-500"
      (click)="toggleNuevo()">
      Nueva Publicación
    </button>
  </div>

  <table class="w-full table-auto font-montserrat border mt-4">
    <thead class="bg-indigo-800">
      <tr class="text-white">
        <th class="text-center">#</th>
        <th class="text-center">Fecha</th>
        <th class="text-left">Título</th>
        <th class="text-center">Tipo publicación</th>
        <th class="text-center">Gerencia</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of publications | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
        class="odd:bg-white even:bg-blue-50">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center" width="10%">{{ item.fechaPublicacion.substring(8,10) }}-{{
          item.fechaPublicacion.substring(5,7) }}-{{item.fechaPublicacion.substring(0,4) }}</td>
        <td>{{ item.titulo }}</td>
        <td class="text-center" width="15%">{{ item.tipoPublicacion }}</td>
        <td class="text-center" width="10%">{{ item.gerencia }}</td>
        <td class="text-center">
          <button class="px-2 py-2 bg-blue-300 rounded" title="Editar foto de portada" [disabled]="item.tipoPublicacion != 'Galería'"
            (click)="openSelectCover(item)"> <svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
            </svg>
          </button>
          <button class="px-2 py-2 bg-red-300 rounded ml-2" title="Eliminar publicación"> <svg xmlns="http://www.w3.org/2000/svg" height="16"
              width="14" viewBox="0 0 448 512" (click)="deletePublication(item.id)">
              <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
  <div class="flex justify-center font-bold mt-6 font-montserrat ">
    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>
</div>

<div *ngIf="nuevoFlag" class="modal fixed inset-0 flex items-center justify-center z-10">
  <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
    <div class="modal-container font-montserrat bg-white w-3/5 h-auto p-4 rounded-xl shadow-lg ">
      <!-- pointer-events-auto overflow-auto -->
      <div class="flex ">
        <button
          class="ml-auto bg-red-500 text-white rounded-md px-2 py-1 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
          (click)="closetoggleNuevo()">X</button>
      </div>


      <div class="mx-8 mb-4">
        <div class="flex mb-8">
          <div class="text-2xl mx-auto font-montserrat font-bold text-center underline">Nueva Publicación</div>

        </div>
        <form>
          <div class="mb-4">
            <label for="titulo" class="text-lg font-montserrat block font-bold">Título:</label>
            <input type="text" id="titulo" name="titulo" class="mt-1 p-2 h-10 border rounded-md w-full"
              [required]="true" [(ngModel)]="publicacion.titulo">
            <span class="text-red-500 " *ngIf="submit==true && publicacion.titulo.length==0">*Complete este
              campo*</span>
          </div>

          <!--<div class="mb-4">
            <label for="gerencia" class="text-lg font-montserrat block">Gerencia a publicar:</label>
            <input type="text" id="gerencia" name="gerencia" class="mt-1 p-2 h-10 border rounded-md w-full" [(ngModel)]="publicacion.gerencia" [disabled]="true">
          </div>-->

          <div class="mb-4 flex items-center">
            <div class="w-1/2 pr-2">
              <label for="tipoPublicacion" class="text-lg font-montserrat block font-bold">Tipo de Publicación:</label>
              <select name="listaTipos"
                class="w-full h-10 p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-500"
                [(ngModel)]="publicacion.tipoPublicacion">
                <option value="">Seleccionar Tipo de publicación</option>
                <option *ngFor="let opcion of opciones" [value]="opcion.option">{{ opcion.value }}</option>
              </select>
              <span class="text-red-500 " *ngIf="submit==true && publicacion.tipoPublicacion.length==0">*Complete este
                campo*</span>
            </div>

            <div class="w-1/2 pl-2">
              <label for="gerencia" class="text-lg font-montserrat block font-bold">Gerencia a publicar:</label>
              <input type="text" id="gerencia" name="gerencia" class="mt-1 p-2 h-10 border rounded-md w-full"
                [(ngModel)]="publicacion.gerencia" [disabled]="true">
              <span class="text-white " *ngIf="submit==true && publicacion.tipoPublicacion.length==0">___________</span>
            </div>
          </div>

          <div class="mb-4 flex items-center">
            <div class="w-1/2 pr-2">
              <label for="fechaEvento" class="text-lg font-montserrat block font-bold">Fecha de Publicación:</label>
              <input type="date" id="fechaPublicacion" name="fechaPublicacion"
                [(ngModel)]="publicacion.fechaPublicacion" class="p-2 border border-gray-300 rounded-md w-full h-10">
              <span class="text-red-500 " *ngIf="submit==true && publicacion.fechaPublicacion.length==0">*Complete este
                campo*</span>
              <span class="text-white "
                *ngIf="submit==true && publicacion.fechaEvento.length==0 && publicacion.tipoPublicacion=='Eventos'">___________</span>

            </div>

            <div class="w-1/2 pl-2">
              <label for="fechaEvento" class="text-lg font-montserrat block font-bold">Fecha de Evento:</label>
              <input type="date" id="fechaEvento" name="fechaEvento" [(ngModel)]="publicacion.fechaEvento"
                class="p-2 border border-gray-300 rounded-md w-full h-10"
                [disabled]="publicacion.tipoPublicacion != 'Eventos'">
              <span class="text-red-500 "
                *ngIf="submit==true && publicacion.fechaEvento.length==0 && publicacion.tipoPublicacion=='Eventos'">*Complete
                este campo*</span>
              <span class="text-white "
                *ngIf="submit==true && publicacion.fechaPublicacion.length==0">___________</span>

            </div>
          </div>

          <div class="mb-4">
            <label for="descripcion" class="text-lg font-montserrat block font-bold">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="3"
              class="mt-1 pt-2 pl-2 border border-gray-300 rounded-md w-full overflow-y-auto"
              [(ngModel)]="publicacion.contenido">
            </textarea>
            <span class="text-red-500 " *ngIf="submit==true && publicacion.contenido.length==0">*Complete este
              campo*</span>
          </div>

          <!-- <div class="mb-8"
            *ngIf="publicacion.tipoPublicacion!='Comunicaciones' &&  publicacion.tipoPublicacion!='Eventos'">
            <label for="documento" class="text-lg font-montserrat block font-bold">Documento (PDF):</label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="application/pdf">
          </div>

          <div class="mb-4 flex justify-center">
            <button
              class="bg-indigo-900 text-white rounded-md px-12 py-2 text-base font-medium hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
              (click)="savePublication()"
              [disabled]="publicacion.titulo.length == 0 || publicacion.tipoPublicacion.length == 0 || file == undefined">
              Guardar
            </button>
          </div> -->
          <div class=" flex mt-12">
            <div
              *ngIf="publicacion.tipoPublicacion!='Comunicaciones' &&  publicacion.tipoPublicacion!='Eventos' && publicacion.tipoPublicacion!='Galería'">
              <label for="documento" class="text-lg font-montserrat block font-bold">Documento (PDF):</label>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="application/pdf">
              <span class="text-red-500 " *ngIf="submit==true && files.length==0">*Seleccione un archivo*</span>
            </div>

            <div *ngIf="publicacion.tipoPublicacion=='Comunicaciones' ||  publicacion.tipoPublicacion=='Eventos'">
              <label for="imagen" class="text-lg font-montserrat block font-bold">Imagen (JPG o PNG):</label>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/jpeg, image/png">
              <span class="text-red-500 " *ngIf="submit==true && files.length==0">*Seleccione un archivo*</span>
            </div>

            <div *ngIf="publicacion.tipoPublicacion=='Galería'">
              <label for="imagen" class="text-lg font-montserrat block font-bold">Imagen (JPG o PNG)*:</label>
              <input type="file" multiple id="fileInput" (change)="onFileSelected($event)"
                accept="image/jpeg, image/png">
              <span class="text-red-500 " *ngIf="submit==true && files.length==0">*Seleccione un archivo*</span>
            </div>

            <button
              class="bg-indigo-900 text-white rounded-md ml-auto px-12 py-2 text-base font-bold hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
              (click)="savePublication()">
              Guardar
            </button>
          </div>
          <!-- [disabled]="publicacion.titulo.length == 0 || publicacion.tipoPublicacion.length == 0 || files.length == 0" -->
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="portadaFlag" class="modal fixed inset-0 overflow-y-auto flex items-center justify-center z-10">
  <div class="fixed left-0 top-0 bg-black bg-opacity-60 w-full h-full select-none justify-center items-center flex">
    <div class="modal-container font-montserrat bg-white w-3/5 h-auto p-4 rounded-xl shadow-lg">
      <div class="flex">
        <button
          class="ml-auto bg-red-500 text-white rounded-md px-2 py-1 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
          (click)="closeSelectCover()">X</button>
      </div>

      <div class="mx-8 mb-4">
        <div class="flex mb-8">
          <div class="text-2xl mx-auto font-montserrat font-bold text-center underline">Seleccionar Portada</div>
        </div>
        <form>
          <div class="mb-4">
            <div class="grid gap-4" [class.grid-cols-12]="documents.length > 48"
              [class.grid-cols-9]="documents.length > 36 && documents.length < 49"
              [class.grid-cols-6]="documents.length < 37">
              <div *ngFor="let doc of documents; let i = index" class="cursor-pointer" (click)="selectCover(doc)"
                [class.border-indigo-800]="docSelect == doc.urlDocumento" [class.border]="docSelect == doc.urlDocumento"
                [class.border-4]="docSelect == doc.urlDocumento"><img class="w-full"
                  [class.h-12]="documents.length > 48" [class.h-16]="documents.length > 36 && documents.length < 49"
                  [class.h-20]="documents.length < 37" src="{{doc.urlDocumento}}"></div>
            </div>
          </div>
          <button
            class="bg-indigo-900 text-white rounded-md ml-auto px-12 py-2 text-base font-bold hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-green-300"
            (click)="saveCover()">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>