<div class="bg-white">
    <div class="bg-white px-4 py-4 grid grid-cols-3 gap-4">
        <div class="rounded-md border-2">
            <div class="h-48 bg-red-200 rounded-t-md">
                <img class="h-full w-full" src="/assets/curso-ciber.png" />
            </div>
            <div class="font-montserrat px-4 py-4">
                <h1 class="font-bold text-sm">Introducción a la Siberseguridad (2023)</h1>
                <h1 class="text-xs text-justify mt-1">Gerencia de Tecnologías de la Información y Comunicaciones</h1>
                <div class="flex items-center">
                    <div class="font-bold w-fit text-xs bg-green-200 p-1 rounded-full px-4 mt-2">En curso</div>
                    <div class="font-bold w-fit text-xs bg-green-200 p-1 rounded-full px-4 mt-2 ml-auto cursor-pointer"
                        (click)="goToQuestionnaireResponse()">
                        Responder cuestionario</div>
                </div>
            </div>
        </div>
        <div class="rounded-md border-2">
            <div class="h-48 bg-red-200 rounded-t-md">
                <img class="h-full w-full" src="/assets/curso-ciber.png" />
            </div>
            <div class="font-montserrat px-4 py-4">
                <h1 class="font-bold text-sm">Introducción a la Siberseguridad (2023)</h1>
                <h1 class="text-xs text-justify mt-1">Gerencia de Tecnologías de la Información y Comunicaciones</h1>
                <div class="flex items-center">
                    <div class="font-bold w-fit text-xs bg-amber-200 p-1 rounded-full px-4 mt-2">Por finalizar</div>
                    <div class="font-bold w-fit text-xs bg-green-200 p-1 rounded-full px-4 mt-2 ml-auto cursor-pointer"
                        (click)="goToQuestionnaireResponse()">
                        Responder cuestionario</div>
                </div>
            </div>
        </div>
        <div class="rounded-md border-2">
            <div class="h-48 bg-red-200 rounded-t-md">
                <img class="h-full w-full" src="/assets/curso-ciber.png" />
            </div>
            <div class="font-montserrat px-4 py-4">
                <h1 class="font-bold text-sm">Introducción a la Siberseguridad (2023)</h1>
                <h1 class="text-xs text-justify mt-1">Gerencia de Tecnologías de la Información y Comunicaciones</h1>
                <div class="font-bold w-fit text-xs bg-gray-200 p-1 rounded-full px-4 mt-2">Finalizado</div>
            </div>
        </div>
        <div class="rounded-md border-2">
            <div class="h-48 bg-red-200 rounded-t-md">
                <img class="h-full w-full" src="/assets/curso-ciber.png" />
            </div>
            <div class="font-montserrat px-4 py-4">
                <h1 class="font-bold text-sm">Introducción a la Siberseguridad (2023)</h1>
                <h1 class="text-xs text-justify mt-1">Gerencia de Tecnologías de la Información y Comunicaciones</h1>
                <div class="font-bold w-fit text-xs bg-gray-200 p-1 rounded-full px-4 mt-2">Finalizado</div>
            </div>
        </div>
        <div class="rounded-md border-2">
            <div class="h-48 bg-red-200 rounded-t-md">
                <img class="h-full w-full" src="/assets/curso-ciber.png" />
            </div>
            <div class="font-montserrat px-4 py-4">
                <h1 class="font-bold text-sm">Introducción a la Siberseguridad (2023)</h1>
                <h1 class="text-xs text-justify mt-1">Gerencia de Tecnologías de la Información y Comunicaciones</h1>
                <div class="font-bold w-fit text-xs bg-gray-200 p-1 rounded-full px-4 mt-2">Finalizado</div>
            </div>
        </div>
    </div>
</div>